body{
	padding: 0;
	margin: 0;
}
.menu{
	height: 70px;
	background-color: #F8F9FA;
	padding: 0 40px;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
}
nav{
	width: 100%;
	height: 100%;
	display: flex;
}
.menu_h1{
	width: 100%;
	display: flex;
	justify-content: flex-start;
	margin-left: 65px;
}
.menu_a{
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
.menu_a a{
	display: flex;
	color: black;
	text-decoration: none;
	font-size: 20px;
	margin-left: 35px;
	align-items: center;
	font-family: 'Oswald', sans-serif;
}
.menu_a a:hover{
	text-decoration: underline;
}
.banner{
	height: 468px;
	background:linear-gradient(rgba(0,0,0, 0.4),rgba(0,0,0, 0.4)), url('banner_2.jpg');
	background-size: 100%;
}
.banner h1{
	color: white;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 100px;
	font-family: 'Oswald', sans-serif;
}
.text{
	height: 65px;
	background-color: white;
}
.text h1{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 34px;
	font-family: 'Oswald', sans-serif;
}
.inform{
	height: 280px;
	background-color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.inform h1{
	font-size: 25px;
	font-family: 'Oswald', sans-serif;
}
.inform p{
	font-size: 20px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
.text_1{
	height: 50px;
	background-color: white;
}
.text_1 h1{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 34px;
	font-family: 'Oswald', sans-serif;
}
.room_1{
	height: 395px;
	background-color: white;
	display: flex;
}
.image_1{
	height: 100%;
	display: flex;
	align-items: center;
}
.image_1 img{
	height: 300px;
	width: 400px;
	margin-left: 65px;
}
.inform_1{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.room_2{
	height: 395px;
	background-color: white;
	display: flex;
}
.inform_2{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.image_2{
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.image_2 img{
	height: 300px;
	width: 400px;
	margin-right: 65px;
}
.room_3{
	height: 395px;
	background-color: white;
	display: flex;
}
.image_3{
	height: 100%;
	display: flex;
	align-items: center;
}
.image_3 img{
	height: 300px;
	width: 400px;
	margin-left: 65px;
}
.inform_3{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.footer{
	height: 220px;
	background-color: black;
	display: flex;
}
.footer_1{
	width: 100%;
	justify-content: space-around;
}
.footer_1 h1{
	color: #333333;
	font-family: 'Oswald', sans-serif;
	font-size: 25px;
}
.footer_1 p{
	color: white;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
.contact{
	height: 50px;
	background-color: #333333;
	display: flex;
}
.contact_email p{
	margin-left: 20px;
	color: #fff;
}
.contact_name{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 250px;
	color: #fff;
}
.contact_a{
	text-decoration: none;
	width:100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 15px;
}
.contact_a a{
	margin-left: 15px;
}
.contact_a img{
	height: 20px;
	width: 20px;
}